
<h1>ようこそ、DJANGO RSSリーダーへ！</h1>
<ol>
    <li><a href="{% url 'rss_app:signup' %}">新規登録</a></li>
    <li><a href="{% url 'rss_app:login' %}">ログイン</a></li>
</ol>

<div>
    <h2>日々の情報収集を効率化しませんか？</h2>
    <h3>開発の目的</h3>
    <h4>自分の日々の生活を楽にする</h4>
    <p>日々の情報収集を楽にする</p>
    <p>作業を始める前の億劫な気持ちを解消したい</p>

    <h3>開発計画</h3>
    <h4>1：基本的なRSSリーダーの機能を実装する</h4>

    <h4>2：Todoの機能を追加する</h4>

    <h4>*：金銭の管理ができるような機能を追加する</h4>

    <h4>*：カレンダーで予定を調節できるような機能を追加する</h4>

    <h4>*：日記機能があったら面白いかもしれない</h4>

    <h4>*：天気やTwitterタイムラインの表示</h4>

</div>